* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;   
}
body {
    font-family: Arial, sans-serif;
    /* max-width: 1400px; */
}

[class*="col-"] {
    width: 100%;
    float: left !important;
}
.row:after {
    content: "";
    clear: both;
    display: table;

  }

/* Navbar */
#nav-bar {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 100;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    overflow: auto;
    overflow: hidden;
    border-bottom: 1px solid rgba(255, 255, 255, 0.205);
}
label.logo {
    display: inline-block;
    font-size: 26px;
    font-weight: bold;
    line-height: 70px;
    padding: 0 30px;
    border-right: 1px solid rgba(255, 255, 255, 0.205);
}
label.logo a {
    color: white;
    text-transform: uppercase;
    opacity: 1 !important;
}
label.checkbtn {
    display: block;
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 30px;
    line-height: 70px;
    cursor: pointer;
}
.nav-list {
    display: block;
}
.nav-list a {
    display: block;
    font-size: 20px;
    color: white;
    text-transform: uppercase;
    margin: 50px 0;
}
.nav-list a:active,a:active {
    color: lightseagreen;
}
.nav-list {
    position: fixed;
    width: 100%;
    height: auto;
    background: #2c3e50;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .3s;
}
#check {
    display: none;
}
#check:checked ~ .nav-list {
    left: 0;
}

/* Banner */
#banner {
    background: url('Images/bg_images/danang-view-day.jpg') no-repeat;
    background-size: cover;
    height: 100vh;
    border: none;
}
#banner .header {
    position: relative;
    top: 40vh;
    margin: 0 20px;
    text-align: center;
}
#banner .header h1 {
    font-family: 'Arial', serif;
    color: white;
    font-size: 350%;
    word-spacing: 5px;
    letter-spacing: 3px;
}
#banner .header p {
    font-size: 140%;
    color: white;
}
#banner .header h1,p {
    margin: 0;
}
#banner .learn-more {
    position: relative;
    top: 45vh;
    text-align: center;
    text-transform: uppercase;
}
#banner .learn-more a {
    color: white;
    padding: 10px;
    border: 1px solid white;
}
#banner .learn-more a:hover,a:active {
    background: rgba(0, 0, 0, 0.6);
}
/* NEIGHBORHOOD places */

#places .header {
    margin: 50px 20px;
}
#places .header h2 {
    font-size: 250%;
    margin-bottom: 20px;
}
/* Images */
.images.row > div {
    padding: 0 20px;
}
.images.row img {
    vertical-align: middle;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}
/* FOOTER */
footer {
    padding: 20px;
}
footer .row {
    margin: 0;
}
footer div {
    margin-bottom: 60px;
}
footer div h4 {
    font-size: 250%;
}
footer div h4,p,a {
    margin-bottom: 20px;
}
footer div a {
    text-decoration: underline;
    color: black;
}





